/* General style */

html {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}
* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    color:rgb(163, 163, 153);
}

h2 {
    font-size: 1.2rem;
}
    
img {
    width: 100%;
    height: auto;
}

/* Header style */

.header-menu-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content:space-around;
    list-style: none;
    background-color: #03031cc1;
    height: 9rem;
    padding-left: 1rem;
    grid-template-areas: "list   picture"
                         "welcome .";
}
.grid-menu-item1 {
    grid-area: list;
}

.grid-menu-item2 {
    grid-area: welcome;
    margin-left:1rem;
    font-size: 1.7rem;
    font-style: italic;
    justify-content: start;
    align-self: start;
    letter-spacing: 2rem;
    font-family: Oleo Script Swash Caps;
}

.grid-menu-item3 {
    grid-area: picture;
    grid-row: 1 / 3;
    justify-content:start;
    width: 6rem;
    height: auto;
    margin-top:1.0rem;
}

.header-menu-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header-menu-item-list {
    flex-direction: row;
    font-weight :1rem;
    height: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    padding:0.5rem 1rem 1rem 1rem;
    box-shadow :3px 3px 5px rgb(5, 19, 46);
}

.header-menu-item-container :hover {
    background-color: rgb(47, 47, 51);
    color: aliceblue;
    box-shadow: 5px 5px 10px rgb(40, 3, 126);
}  


/*Body style*/

body {
    background-image: url(../pictures/background_picture.jpg); 
    background-position: left;
    background-size:310%;
    color: rgb(219, 210, 229);
}

/* about me and My profile*/

.about-me-and-my-profile {
    line-height: 2rem;
    text-align: center; 
    margin-top: 3rem; 
}

.my-prpfile {
    margin-top: 3rem;
}

/* Skills style */

.skills {
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content:center;
    margin-bottom: 2rem;
    
}
.web_development_icons {
    height: 80px;
    width: 80px;
    margin: 10px 40px 20px 10px;
    padding:20px;
    box-shadow: 5px 5px 5px rgb(40, 3, 126);
}

/* Projects style */

.projects {
    line-height: 2rem;
    margin-top: 3rem;
    text-align: center;    
}

.projects-images-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.portfolio-work-img {
    align-self: center;
    width: 21rem;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    box-shadow:7px 6px 7px  rgb(40, 3, 126);
    border-radius:5px;
}
.work-img-address {
    align-self: center;
    width: 9rem;
    margin: 10px;
    text-align: center;
    padding: 0.6rem;
    letter-spacing: 0.1rem;
    text-decoration: none;

}
.work-img-address:hover {
    background-color: rgb(47, 47, 51);
    color: aliceblue;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgb(40, 3, 126);
}

/* contact me */

.contact-me-container {
    text-align: center;
    margin:3rem;
    line-height: 2rem;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1.5rem;
    row-gap: 0.4rem;     

}
.form-item {
    padding:10px;
    font-size: 1rem; 
    background-color: rgba(1, 1, 14, 0.72);
    width: 27rem; 
    align-self: center;
    color: rgb(177, 175, 185);
    border-color: rgb(30, 30, 38);
    border-radius: 5px;
    box-shadow: 10px 13px 13px rgb(40, 3, 126);
}

[type~="submit"]:hover {
    background-color: rgb(47, 47, 51);
    color: aliceblue;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgb(40, 3, 126);
}

/* Footer */

.footer {
    font-size: 1rem;
    height: 20rem;
    padding-top: 4rem;
}

ul {
    list-style: none;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.media-icon {
    font-size: 2.3rem;
    padding: 1.5rem;
}  

.media-icons-buttom {
    display: flex;
    justify-content: center;
}

/* Media queries */

@media screen and (min-width: 576px) {
    .header-menu-item {
        width:50rem;
        padding:1rem 1rem 3rem 2rem;
        margin:2rem 2rem;
    }
    .header-menu-container {
        height: 10rem;
    }
    .grid-menu-item3 {
            width: 7rem;
            height: auto;
            margin-top:1.0rem;
            margin-left: 2rem;
    }       
    .form-item {
        width: 27rem;   
    }
}

@media screen and (min-width: 768px) {
    /* HEADER */
    .grid-menu-item3 {
        width: 9rem;
        height: auto;
        margin-top:1.0rem;
    }
      /* PHOTO */
    .grid-menu-item3 {
        width: 8rem;
        margin-left: 3rem;
        margin-top:1rem;
    }

    /* SKILLS */
    .web_development_icons {
        margin: 10px 30px 20px 10px;
    }

    /* CONTACT FORM */
        .form-item {
        width: 40rem; 
        }
}
@media screen and (min-width: 992px) {
        html {
            margin-left: 5rem;
        }

        .header-menu-container {
            height: 18rem;
            margin-left: -5rem;
        
        }
        /*Welcome logo*/
        .grid-menu-item2 {
            margin-left:5rem;
            font-size: 3.5rem;
            letter-spacing: 3.5rem;
        }

         /*picture*/
        .grid-menu-item3 {
            width: 14rem;
            margin-left: 3rem;
            margin-top:1rem;
        }

        .header-menu-item-list {
            height: 12%;
            padding:1rem 2rem 2rem 2rem;
            margin-top: 1rem;
            margin-right: 2rem;
            box-shadow :5px 5px 10px rgb(5, 19, 46);
        }
        body {
            background-size: auto; 

        }
        .about-me-and-my-profile {
            line-height: 2.5rem;
            margin: 1.5rem 2rem 2rem 2rem;
            text-align:left;   
        }

        .skills {
            margin-left: 2rem;
            margin-top: 4rem;
            text-align: left;
        }

        .skills-container {
            justify-content:flex-start;
            margin-left: 1rem; 
        }

        .projects {
            text-align: left;
            margin-left: 2rem;
        }

        .projects-images-container {
            justify-content:center;
            align-content:space-around;
            height: 280px;
            width: 900px;
        }

        .portfolio-work-img {
            height: 250px;
            width: 410px;
            margin: 10px;
            padding: 20px;
        }

        .work-img-address {
            letter-spacing: 0.6rem;
            width: 15rem;
        }
        
        .contact-me-container {
            margin:2rem 1.5rem 0.5rem ;
            line-height: 2.5rem;
            text-align: left;
        }
       .form-item {
        align-self: flex-start;
        width: 55rem;
       }  
    }

